<!-- 
  1) ngModel- (no binding) to tell angular that input is a control
  2) ngSubmit-event fired when form is submited
  3) ngForm - gives javascript object of the form
  4) local reference f can be used to get access of form using ViewChild
  5) email- directive of angular, for email validation.
  6) ng-invalid/ng-valid, ng-touched/ng-untouched, ng-dirty/ng-pristine classes
     added by angular can be used to style form state
  7) #email='ngModel' get javascript representation
  8) [ngModel] - (one way binding) to set default value
  9) [(ngModel)]-(two way binding) can instantly access it
 10) ngModelGroup - directive to have group of inputs
 11) #userData="ngModelGroup" get javascript representation
 12) setValue() - set whole form
 13) patchValue() - to override specific field -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)=onSubmit() #f="ngForm">
        <div id="user-data" 
             ngModelGroup='userData'
             #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>            
            <input type="text" 
                  id="username" 
                  class="form-control"
                  ngModel
                  name="userName"
                  required>
          </div>
          <button 
            class="btn btn-default" 
            type="button"
            (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" 
                  id="email" 
                  class="form-control"
                  ngModel
                  name="email"
                  required
                  email
                  #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter valid email</span>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">Userdata is invalid</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret" 
            class="form-control"
            [ngModel]="defaultQuestion"
            name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            class="form-control" 
            name="questionAnswer" 
            rows="1"
            [(ngModel)]="answer"></textarea>
        </div>
        <p>Your reply: {{answer}}</p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input 
              type="radio" 
              name="gender" 
              ngModel [value]="gender">
              {{gender}}
          </label>
        </div>
        <button 
        class="btn btn-primary" 
        type="submit"
        [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
</div>

<hr>

<div class="row" *ngIf="submited">
  <div class="col-xs-12">
    <h3>Your Data</h3>
    <p>Username: {{user.username}}</p>
    <p>Mail: {{user.email}}</p>
    <p>Secret Question: {{user.secretQuestion}}</p>
    <p>Answer: {{user.answer}}</p>
    <p>Gender: {{user.gender}}</p>
  </div>
</div>